@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@900&display=swap');
/*font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;*/

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

.page {
    margin: 0 auto;
    min-width: 375px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.header {
   background-image: url(../images/desktop/image-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   height: 100vh;
   padding-top: 34px;
}

.logo {
    width: 170px;
    height: 33px;
}

.header__title {
    text-align: center;
    font-family: 'Fraunces', serif;
    color: white;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    margin-top: 105px;
    margin-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navigation__items {
    display: flex;
}

.navigation__item {
    list-style-type: none;
    margin-left: 47px;
}

.navigation__link {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
}

.navigation__link:hover, .navigation__link_active {
    color: black;
    font-family: 'Fraunces', serif;
    background-color: white;
    font-size: 15px;
    padding: 16px 32px;
    border-radius: 30px;
}

.navigation__link_active:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.25)
}

.arrow-icon {
    animation: MoveUpDown 1s linear infinite;
    display: block;
    margin: 0 auto;
    height: 175px;
}

.row {
    display: flex;
}

.about__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.about__text-wrapper {
    width: 55%;
    margin: 0 auto;
}

.about__heading {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    line-height: 49.32px;
    margin: 0 0 30px 0;
    color:#24303E;
}

.about__paragraph {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #808397;
    margin: 0;
}

.about__image {
    width: 50%;
    height: 600px;
    background-size: cover;
    background-position: center center;
}

.about__image_transform {
    background-image: url(../images/desktop/image-transform.jpg);
}

.about__image_stand-out {
    background-image: url(../images/desktop/image-stand-out.jpg);
}

.about__image_graphic-design {
    background-image: url(../images/desktop/image-graphic-design.jpg);
}

.about__image_photography {
    background-image: url(../images/desktop/image-photography.jpg);
}

.about__button {
    font-family: 'Fraunces', serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border:0;
    height: 10px;
    border-radius: 10px;
    width: 140px;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.about__button_transform {
    background-color: rgba(250, 212, 0, 0.25)
}

.about__button_transform:hover {
    background-color: #FAD400;
}

.about__button_stand-out {
    background-color: rgba(254, 119, 102, 0.25);
}

.about__button_stand-out:hover {
    background-color: #FE7766;
}

.about__image_graphic-design, .about__image_photography {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 59px;
}

.about__text_graphic-design {
    max-width: 339px;
    text-align: center;
    color: #24554A;
}

.about__heading_graphic-design, .about__heading_photography {
    font-family: 'Fraunces', serif;
    font-size: 28px;
}

.about__paragraph_graphic-design {
    font-size: 16px;
    line-height: 27px;
    color: #24554A;
}

.about__text_photography {
    max-width: 339px;
    text-align: center;
    color: #19536C;
}

.about__paragraph_photography {
    font-size: 16px;
    line-height: 27px;
    color: #19536C;
}

.button-text {
    color: rgba(36, 48, 62);
    position: relative;
    bottom: 15px;
}

.testimonials {
    text-align: center;
    padding: 160px 40px;
}

.testimonials__title {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    color: #A7AAAD;
    margin-bottom: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.testimonials__card-container {
    display: flex;
    justify-content: center;
}

.testimonials__card {
    text-align: center;
    margin-right: 30px;
}

.testimonials__card:last-of-type {
    margin-right: 0;
}

.testimonials__avatar {
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.testimonials__card-text {
    font-family: 'Barlow', sans-serif;
    max-width: 350px;
    color: #5B636D;
    font-size: 18px;
    line-height: 32px;
}

.testimonials__card-name {
    font-family: 'Fraunces', serif;
    color: #24303E;
    margin-top: 69px;
    font-size: 18px;
}

.testimonials__card-job {
    font-family: 'Barlow', sans-serif;
    color: #A7AAAD;
    font-size: 14px;
    line-height: 25px;
    margin-top: 9px;
}

.gallery {
    display: flex;
}

.gallery__item {
    width: 25%;
}

.footer {
    background-color: #90D4C6;
    text-align: center;
}

.logo_footer {
    filter: invert(60%) sepia(6%) saturate(3907%) hue-rotate(118deg) brightness(94%) contrast(85%);
    transition: all 0.3s;
}

.logo_footer:hover {
    opacity: 0.8;
    transform: translate3D(0, -1px, 0) scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 50px;
}

.footer__nav-items {
    display: flex;
    margin: 40px 0 0 0;
    padding: 0;
}

.footer__nav-item {
    list-style-type: none;
    margin-right: 57px;
}

.footer__nav-link {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #458D7E;
    transition: color 0.3s ease;
}

.footer__nav-link:hover {
    color: white;
}

.footer__nav-item:last-child {
    margin-right: 0;
}

.footer__social {
    margin-top: 88px;
}

.footer__social-icon {
    fill: #2C7566;
    margin-right: 28px;
    transition: fill 0.3s ease;
}

.footer__social-icon:last-child {
    margin-right: 0;
}

.footer__social-icon:hover {
    cursor: pointer;
    fill: #fff;
    transform: translate3D(0, -1px, 0) scale(1.2);
}

.footer__text {
    font-family: 'Barlow', sans-serif;
    color: #458D7E;
    margin-top: 50px;
}

@media screen and (max-width: 775px) {

    .header__title {
        margin-bottom: 52px;
    }

    .navigation__items {
        padding: 0;
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
    }

    .navigation__items.active {
        right: 0;
    }

    .navigation__item {
        margin: 2.0rem 0;
    }

    .navigation__link {
        color: #808397;
    }

    .navigation__link_active {
        background-color: #FBD600
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 650px) {
    .header__title {
        font-size: 40px;
    }

    .row {
        flex-direction: column;
    }

    .row__first {
        flex-direction: column-reverse;
    }

    .about__button {
        width: 160px;
    }

    .about__image, .about__text {
        width: 100%;
    }

    .about__image_transform, .about__image_stand-out {
        height: 375px;
    }

    .about__text-wrapper {
        text-align: center;
        width: calc(100% - 48px);
    }

    .about__text_transform, .about__text_stand-out {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .gallery {
        flex-wrap: wrap;
    }
    
    .gallery__item {
        width: 50%;
    }

    .testimonials {
        padding: 86px 24px;
    }

    .testimonials__card-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__card {
        margin-right: 0;
        margin-bottom: 64px;
    }

    .testimonials__card:last-of-type {
        margin-bottom: 0;
    }

    .testimonials__card-name {
        margin-top: 32px;
        margin-bottom: 0px;
    }
    
}



